<div class="users_component">
  <div class="user_component_title_container">
    <h2>Liste des Utilisateurs</h2>
  </div>
  <div class="users_container">
    <div *ngFor="let user of userList" class="user">
      <div class="infos_container">
        <span>{{ user.id }}</span>
        <span>{{ user.lastname }}</span>
        <span>{{ user.firstname }}</span>
      </div>
      <div class="actions_container">
        <button *ngIf="onModifie">modifier</button>
        <button *ngIf="onModifie">supprimer</button>
      </div>
    </div>
  </div>
</div>
