<footer class="footer">
    <div class="footer_row">
        <div class="footer_contacts_detail">
            <div class="footer_logobankvi_cont">
                <img src="../../../../../assets/images/logo_blanc.png" alt="" srcset="">
            </div>
            <div class="adresse_container">
                <h3>Adresse</h3>
                <span>Lomé, Togo</span>
                <span>00 BP 8500</span>
            </div>
            <div class="contacts_tel_cont">
                <h3>Contacts</h3>
                <span>00228 96 85 89 12</span>
                <span>00228 70 16 09 44</span>
            </div>
            <div class="email_cont">
                <h3>Email</h3>
                <span>contacts@bankvi.com</span>
            </div>
        </div>
        <div class="footer_contact_form_cont">
            <div class="contact_form_title">
                <h2>Contactez - Nous</h2>
            </div>
            <form class="contact_form">
                <div class="email_subject_cont">
                    <div class="email_input">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="" />
                    </div>
                    <div class="subject_input">
                        <label for="subject">Subject:</label>
                        <input type="subject" name="subject" id="" />
                    </div>
                </div>
                <div class="message_cont">
                    <label for="message">Message:</label>
                    <textarea name="textarea" id=""></textarea>
                </div>
                <div class="submit_button_cont">
                    <button>Envoyer</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer_row socials">
        <div></div>
        <div>
            <fa-icon size="lg" [spin]=false [icon]="facebook"></fa-icon>
            <fa-icon size="lg" [spin]=false [icon]="twitter"></fa-icon>
            <fa-icon size="lg" [spin]=false [icon]="linkedin"></fa-icon>
            <fa-icon size="lg" [spin]=false [icon]="instagram"></fa-icon></div>
    </div>
    <div class="footer_row slogan">
<span>Chez BankVi nous faisons de votre satisfaction un priorité !</span>
    </div>
    <div class="footer_row copyrights">
<span>&COPY; CopyRights - BankVi 2022</span>
    </div>
</footer>