header {
  display: block;
  height: 100vh;
  width: 100%;
  font-size: 16px;
  background-image: url("../../../../../assets/images/background_header.png");
  background-size: auto;
}
img{
  width: 100%;
}

.header_container{
  width: 80%;
  margin: auto;
  >div{
    display: inline-block;
    width: 30%;
    margin: auto;
    height: 10vh;
  }
}

.menu_container{
  padding: 5vh 0;
}
.links_container{
  display: flex;
  justify-content: space-around;
  >a{
    display: inline-block;
  }
}

