header {
  display: block;
  min-height: 10vw;
  max-height: 20vh;
  width: 100%;
  background-image: url("../../../../../assets/images/background_header.png");
  background-attachment: fixed;
  background-size: 100vw;

  a:hover {
    scale: 1.05;
    cursor: pointer;
  }
}

img {
  width: 100%;
}

.header_container {
  width: 95vw;
  height: 9vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 3px;

  > div {
    display: inline-block;
    margin: 0 auto;

    > img {
      width: 20vw;
    }

    > .links_container a {
      display: inline-flex;
      justify-content: space-around;
      flex-direction: column;
      margin: 6% 0 0 12.5%;
      color: white;
      text-decoration: none;

      > .underline {
        width: 1.5vw;
        height: .5vh;
        background: white;
        margin: auto;
        border-radius: 10pt;
      }
    }
  }

  > div:first-child {
    width: 30%;
  }

  > div:last-child {
    width: 60%;
    font-size: 1.8vw;
    font-weight: bold;

  }
}
