<header>
  <div class="header_container">
    <div class="logo_container">
          <img [src]="logo" alt="" srcset="">
    </div>
    <div class="middle_spacing"></div>
    <div class="menu_container">
      <div class="links_container">
        <a href=""><span class="home_link">Accueil</span></a>
        <a href=""><span class="home_link">Connexion</span></a>
        <a href=""><span class="home_link">A Propos</span></a>
        <a href=""><span class="home_link">Contacts</span></a>
      </div>
    </div>
  </div>
</header>
