<header>
  <div class="header_container">
    <div class="logo_container">
      <img [src]="logo" alt="" srcset="">
    </div>
    <div class="menu_container">
      <div class="links_container">
        <a href=""><span class="link_accueil">Accueil</span><span class="underline"></span></a>
        <a href=""><span class="link_connexion">Connexion</span><span class=""></span></a>
        <a href=""><span class="link_about">A Propos</span><span class=""></span></a>
        <a href=""><span class="link_contact">Contacts</span><span class=""></span></a>
      </div>
    </div>
  </div>
  <div class="header_second_row">
    <span class="text_accueil">
      Avec BankVi payez<br/>
      à votre rythme
    </span>
  </div>
</header>
