.plateforms_component{
    >div:first-child{
        text-align: center;
    }
    >div:nth-child(2){
        >div.plateform{
            display: flex;
            justify-content: space-between;
            >div.infos_container{
                width: 75%;
                display: flex;
                justify-content: space-evenly;
            }
            >div.actions_container{
                width: 20%;
                span{
                    margin: 0 1vw;
                }
            }
        }
    }
}