.formContainer {
    height: 100vh;
    width: 100%;
    background: #f2bd3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    form {
      display: inline-block;
      height: 500px;
      width: 500px;
      margin: auto;
      border-radius: 0 25pt 0 25pt;
      background: white;
  
      > div {
        text-align: center;
      }
  
      > div:first-child {
        display: flex;
        justify-content: flex-start;
        padding: 1vw 0;
        color: #504135;
        border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  
        > span:first-child {
          border-right: 3px solid #f2bd3d;
          padding: 1vw 1.2vw;
        }
  
        > span {
          margin: 0 .5vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
  
      > div:nth-child(2) {
        padding: 1.5vw;
        color: #f2bd3d;
        font-size: 1.75vw;
        font-weight: bold;
      }
  
      > div:nth-child(3) {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        >div{
            border-radius: 15pt;
        }
        >div{
            width: 97.5%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            >div{
                display: flex;
                justify-content: center;
                width: 48%;
                border: 1px solid black;
                padding: .5vw 0;
                margin: .7vw 0;
                vertical-align: middle;
                label{
                    text-align: end;
                    word-break: break-word;
                    width: 30%;
                    margin: auto;
                }
                input{
                    min-width: 60%;
                    height: 30px;
                    border: none;
                    padding: .3vw;
                    margin: .3vw;
                }
            }
        }
        >div.account_type{
            border: 1px solid black;
            width: 95%;
            padding: .2vw;
            select{
                width: 98%;
                text-align: center;
                padding: 1vw;
                border: none;
            }
        }
      }
    }
  }
  