.echelon_component{
    width: 95%;
    margin: auto;
    >div.title_container{
        text-align: center;
    }
    >div.echelons_container{
        >div.echelon{
            width: 100%;
            margin: 1.5vw 0;
            padding: 1vw 0;
            border: 2px solid rgba(128, 128, 128, 0.596);
            display: flex;
            justify-content: space-around;
            >div.img_container{
                width: 25%;
                background: red;
            }
            >div.infos_container{
                width: 40%;
            }
            >div.actions_container{
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }
        }
    }
}