<div class="echelon_component">
  <div class="title_container">
    <h2>Echelons List</h2>
  </div>
  <div class="echelons_container">
    <div *ngFor="let echelon of echelonList" class="echelon">
      <div class="img_container">
        <img [src]="echelon.product.img_path" alt="" srcset="">
      </div>
      <div class="infos_container">
        <div class="name_cont">{{ echelon.product.name }}</div>
        <div class="date_plateform_cont">{{ echelon.created_at }} - Plateform</div>
        <div class="montants_content">{{ echelon.payed }} / {{ echelon.product.price }} XOF</div>
        <div class="etaps_cont">Etape {{ echelon.done_steps }} / {{ echelon.product.steps }}</div>
      </div>
      <div class="actions_container">
        <button class="solder_btn">Solder</button>
        <button class="aug_btn">Augmenter</button>
        <button class="annuler_btn">Annuler</button>
      </div>
    </div>
  </div>
</div>
