.profil_container {

  > div {
    width: 100%;
    text-align: center;
  }

  > div:first-child {
    width: 100%;
    text-align: center;

    > span {
      display: inline-block;
      height: 8vw;
      width: 8vw;
      border-radius: 50%;
    }
  }

  > div.info_cont {
    display: flex;
    justify-content: center;
    text-align: start;

    > span {
      margin: 0 2vw;
      width: 20%;
    }

    > span:first-child {
      text-align: end;
    }

    > span:last-child {
      text-align: start;
    }
  }
}
