<div class="profil_container">
  <div class="profil_photo_container">
        <span class="profil_photo_circle">
            j
        </span>
  </div>
  <div class="info_cont">
    <span>Nom :</span><span>{{ user.lastname }}</span>
  </div>
  <div class="info_cont">
    <span>Prenom :</span><span>{{ user.firstname }}</span>
  </div>
  <div class="info_cont">
    <span>Email :</span><span>{{ user.email}}</span>
  </div>
  <div class="info_cont">
    <span>Username :</span><span>{{ user.username }}</span>
  </div>
  <div class="info_cont">
    <span>Téléphone :</span><span>{{ user.tel }}</span>
  </div>
  <div class="info_cont">
    <span>Type de Compte :</span><span>{{ user.role == 1 ? "Standard" : (user.role == 2 ? "Etendue" : "Super Admin") }}</span>
  </div>
  <div>
    <button>Modifier</button>
  </div>
</div>
