<header>
  <div class="header_container">
    <div class="logo_container">
      <img [src]="logo" alt="" srcset="">
    </div>
    <div class="menu_container">
      <div class="links_container">
        <a (click)="clickLinks('accueil', $event)" href=""><span class="link_accueil">Accueil</span><span
          class="underline"></span></a>
        <a (click)="clickLinks('connexion', $event)" href=""><span class="link_connexion">Connexion</span><span
          class=""></span></a>
        <a (click)="clickLinks('about', $event)" href=""><span class="link_about">A Propos</span><span class=""></span></a>
        <a (click)="clickLinks('contact', $event)" href=""><span class="link_contact">Contacts</span><span
          class=""></span></a>
      </div>
    </div>
  </div>
  <div class="header_second_row">
    <span class="text_accueil">
      Avec BankVi payez<br/>
      à votre rythme
    </span>
  </div>
  <div class="menuConnexion">
    <a href="#"><span class="connexion_button">Se Conneter</span></a>
    <span class="slash_container">/</span>
    <a href="#"><span class="inscription_button">S'Inscrire</span></a>
  </div>
</header>


<section class="service">
  <div class="service_title_container">
    <h1 class="service_title">Nos Services</h1>
  </div>

  <div class="service_row_flex">
    <div class="service_column30">
      <div class="service_desc_container">
        <h2 class="service_title_container">Echelon</h2>
        <div class="desc_left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, molestiae?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi delectus illo illum ipsa laudantium officia,
          pariatur quod quos, sed sit tempora ullam velit voluptate voluptatibus.
        </div>
      </div>
    </div>
    <div class="service_column60">
      <div class="img_container">
        <img alt="" src="../../../assets/images/services_image1.jpg" srcset="">
      </div>
    </div>
  </div>

  <div class="service_divider">
    <div class="service_divider_img_container">
      <img alt="" src="../../../assets/images/connecteur_img.png" srcset="">
    </div>
  </div>

  <div class="service_row_flex">
    <div class="service_column60">
      <div class="img_container">
        <img alt="" class="payement_img2" src="../../../assets/images/paiementplusieursfois.jpg" srcset="">
      </div>
    </div>

    <div class="service_column30">
      <div class="service_desc_container">
        <h2 class="service_title_container">Echelon</h2>
        <div class="desc_right">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, molestiae?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi delectus illo illum ipsa laudantium officia,
          pariatur quod quos, sed sit tempora ullam velit voluptate voluptatibus.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="menu_con">
  <div class="connexion_container">
    <h2>Se Connecter</h2>
    <div class="connexion_form">
      <h3>Entrez votre numéro de téléphone</h3>
      <div class="connexion_form_input_cont">
        <label for="tel">pseudo
        </label>
        <input [(ngModel)]="conn_pseudo" id="connexion_tel" name="pseudo" placeholder="pseudo" required type="text"/>
      </div>
      <div class="connexion_form_input_cont">
        <label for="tel">pass
        </label>
        <input [(ngModel)]="conn_pass" id="connexion_pass" name="pass" placeholder="xx xx xx" required type="password"/>
      </div>
      <div class="submit_button_cont">
        <button (click)="onSignIn($event)">Connexion</button>
      </div>
    </div>
  </div>

  <div class="inscription_container">
    <h2>S' Inscrire</h2>
    <div class="inscription_form">
      <h3>Entrez votre numéro de téléphone</h3>
      <div class="inscription_form_input_cont">
        <label for="tel">+228
        </label>
        <input [(ngModel)]="tel" id="inscription_tel" name="tel" placeholder="96 85 89 12" required type="tel"/>
      </div>
      <div class="submit_button_cont">
        <button (click)="onSignUp($event)">Inscription</button>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="about_container">
    <div class="about_title_cont">
      <h2>A Propos</h2>
      <span class="divider"></span>
    </div>
    <div class="about_desc_cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae dicta numquam laudantium aliquam nam
      cumque? Voluptates, neque corrupti. Natus.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium velit, esse quaerat itaque maxime nobis
      doloremque rem asperiores laborum suscipit.<br/><br/>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium velit, esse quaerat itaque maxime nobis
      doloremque rem asperiores laborum suscipit.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium velit, esse quaerat itaque maxime nobis
      doloremque rem asperiores laborum suscipit.
    </div>
    <div class="about_img_mini-cont">
      <img alt="" src="../../../assets/images/tmoney_img.png" srcset="">
      <img alt="" src="../../../assets/images/flooz_img.png" srcset="">
      <img alt="" src="../../../assets/images/visa_img.png" srcset="">
      <img alt="" src="../../../assets/images/btc_img.png" srcset="">
    </div>
  </div>
</section>


<footer class="footer">
  <div class="footer_row">
    <div class="footer_contacts_detail">
      <div class="footer_logobankvi_cont">
        <img alt="" src="../../../assets/images/logo_blanc.png" srcset="">
      </div>
      <div class="adresse_container">
        <h3>Adresse</h3>
        <span>Lomé, Togo</span>
        <span>00 BP 8500</span>
      </div>
      <div class="contacts_tel_cont">
        <h3>Contacts</h3>
        <span>00228 96 85 89 12</span>
        <span>00228 70 16 09 44</span>
      </div>
      <div class="email_cont">
        <h3>Email</h3>
        <span>contacts@bankvi.com</span>
      </div>
    </div>
    <div class="footer_contact_form_cont">
      <div class="contact_form_title">
        <h2>Contactez - Nous</h2>
      </div>
      <form class="contact_form">
        <div class="email_subject_cont">
          <div class="email_input">
            <label for="email">Email:</label>
            <input id="" name="email" type="email"/>
          </div>
          <div class="subject_input">
            <label for="subject">Subject:</label>
            <input id="" name="subject" type="subject"/>
          </div>
        </div>
        <div class="message_cont">
          <label for="message">Message:</label>
          <textarea id="" name="textarea"></textarea>
        </div>
        <div class="submit_button_cont">
          <button>Envoyer</button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer_row socials">
    <div></div>
    <div>
      <fa-icon [icon]="facebook" [spin]=false size="lg"></fa-icon>
      <fa-icon [icon]="twitter" [spin]=false size="lg"></fa-icon>
      <fa-icon [icon]="linkedin" [spin]=false size="lg"></fa-icon>
      <fa-icon [icon]="instagram" [spin]=false size="lg"></fa-icon>
    </div>
  </div>
  <div class="footer_row slogan">
    <span>Chez BankVi nous faisons de votre satisfaction un priorité !</span>
  </div>
  <div class="footer_row copyrights">
    <span>&COPY; CopyRights - BankVi 2022</span>
  </div>
</footer>
