// Header
header {
  display: block;
  min-height: 45vw;
  max-height: 100vh;
  width: 100%;
  background-image: url("../../../assets/images/background_header.png");
  background-attachment: fixed;
  background-size: 100vw;

  a:hover {
    scale: 1.05;
    cursor: pointer;
  }
}

img {
  width: 100%;
}

.header_container {
  width: 95vw;
  height: 9vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 3px;

  > div {
    display: inline-block;
    margin: 0 auto;

    > img {
      width: 20vw;
    }

    > .links_container a {
      display: inline-flex;
      justify-content: space-around;
      flex-direction: column;
      margin: 6% 0 0 12.5%;
      color: white;
      text-decoration: none;

      > .underline {
        width: 1.5vw;
        height: .5vh;
        background: white;
        margin: auto;
        border-radius: 10pt;
      }
    }
  }

  > div:first-child {
    width: 30%;
  }

  > div:last-child {
    width: 60%;
    font-size: 1.8vw;
    font-weight: bold;

  }
}

.header_second_row {
  width: 90vw;
  margin: 10vh auto 0;
  color: white;
  text-align: end;

  > span {
    display: inline-block;
    padding: 1vw;
    font-size: 7vw;
    font-weight: bold;
    font-style: italic;
  }
}

.menuConnexion {
  text-align: center;
  color: white;
  font-size: 2vw;

  > a {
    color: white;
    display: inline-block;
  }

  > span {
    display: inline-block;
    margin: 10vw .5vw 0;
  }
}

// Main

$text_color1: #7a7673;
.service {
  width: 80%;
  margin: 0 auto;

  img {
    width: 100%;
  }

  &_title_container {
    text-align: center;
    color: $text_color1;
  }

  &_row_flex {
    width: 100%;
    padding: 10vw 0;
    display: flex;
    justify-content: space-between;
    min-height: 45vw;
    max-height: 100vh;
  }

  &_column30 {
    height: 100%;
    width: 30%;
    font-size: 1.8vw;

    .desc_left {
      text-align: start;
    }

    .desc_lright {
      text-align: end;
    }
  }

  &_column60 {
    height: 100%;
    width: 60%;

    .img_container img {
      display: inline-block;
      border-radius: 15pt;
    }
  }

  .service_divider {
    position: relative;

    &_img_container {
      position: absolute;
      top: -55vh;
      z-index: -1;
    }
  }
}

.menu_con {
  width: 80%;
  margin: 0 auto;
  background-image: url(../../../assets/images/menu_connexion.png);
  background-attachment: fixed;
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 5vw 10%;
  color: white;

  > div {
    text-align: center;

    > h2 {
      margin-bottom: 5vw;
      font-size: 2.5vw;
    }

    > div {
      background: white;
      color: #e3ab1d;
      padding: 6.5vw 1.5vw;
      border-radius: 0pt 50pt 0pt 50pt;

      > h3 {
        margin-bottom: 5vw;
      }

      > div:first-of-type {
        border: 2px solid #e3ab1d;
        padding: 1vw 0;
        font-size: 1.5vw;
        font-weight: bold;
        display: flex;
        justify-content: space-evenly;

        > label {
          margin-left: 0vw;
          border-right: 2px solid #e3ab1d;
          padding: .5vw;
        }

        > input {
          border: none;
          outline-color: #e3ab1d;
          padding: .5vw;
          text-align: center;

          &::placeholder {
            font-weight: bold;
            opacity: .75;
            color: #e3ab1d;
            font-size: 1.5vw;
            vertical-align: middle;
          }
        }
      }

      > div:last-child {
        padding: 5vw 0 0;

        > button {
          border: none;
          background: #1562e6;
          height: 4vw;
          width: 12vw;
          color: white;
          font-size: 1.5vw;
          font-weight: bold;
          border-radius: 30pt;

          &:hover {
            border-radius: 10pt;
          }
        }
      }
    }

    .inscription_form {
      border-radius: 50pt 0pt 50pt 0pt;
      background: #e3ab1d;
      color: white;

      > div:first-of-type {
        border: 2px solid white;

        > label {
          border-right: 2px solid white;
        }

        > input {
          outline-color: white;
          background: transparent;

          &::placeholder {
            color: white;
            display: inline-block;
            padding-top: 5vw;
          }
        }
      }
    }
  }

  .inscription_container > h2 {
    color: #e3ab1d;
  }
}

.about {
  background-image: url(../../../assets/images/A_Propos.png);
  background-attachment: fixed;
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;

  > div {
    width: 35%;
    padding: 7.5vw;
    font-size: 1.4vw;
    text-align: end;

    > div:first-child {
      text-align: center;

      > h2 {
        margin-bottom: 0;
      }

      > span {
        display: inline-block;
        padding: .2vw;
        width: 2vw;
        background: white;
        margin: 0 auto;
      }
    }

    > div:last-child {
      display: flex;
      justify-content: space-evenly;
      padding: 2vw;

      > img {
        width: 7vw;
      }
    }
  }
}


// footer
footer {
  background: #202014;
  width: 100%;
  color: white;
  text-align: center;

  > div:first-child {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    > div {
      width: 45%;
    }

    > div:first-child {
      font-size: 1.5vw;

      > div:first-child {
        padding: 0;

        img {
          width: 20vw;
        }
      }

      > div:nth-child(2),
      > div:nth-child(3),
      > div:last-child {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

    > div:last-child {
      h2 {
        margin: 2vw 0 5vw;
      }

      > form {
        > div:first-child {
          display: flex;
          justify-content: space-between;

          div {
            display: flex;
            justify-content: center;
            background: white;
            padding: .7vw;
            border-radius: 10pt;
            color: #202014;

            label {
              margin: auto .5vw;
            }

            input {
              border: none;
              outline-color: #20201485;
              padding: 1vw;
            }
          }
        }

        > div:nth-child(2) {
          display: flex;
          justify-content: center;
          position: relative;
          padding: 3vw 0 1vw;
          background: white;
          border-radius: 10pt;
          margin: 1.5vw 0;

          label {
            position: absolute;
            color: #202014;
            top: 1.2vw;
            left: 1.2vw;
          }

          textarea {
            min-width: 70%;
            max-width: 70%;
            min-height: 8vw;
            max-height: 8vw;
            border: none;
            border-radius: 10pt;
            padding: 5%;
            outline-color: #20201485;
          }
        }

        > div:last-child {
          padding: 1vw;

          button {
            border: none;
            border-radius: 15pt;
            height: 4vw;
            width: 12vw;
            font-size: 1.5vw;
            font-weight: bold;

            &:hover {
              cursor: pointer;
              background: #202014;
              color: white;
              border: 2px solid white;
            }
          }
        }
      }
    }
  }

  > div:nth-child(2) {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    > div {
      width: 32.5%;
    }

    div:first-child {
      width: 65%;
    }

    div:last-child {
      display: flex;
      justify-content: center;

      fa-icon {
        margin-left: 2vw;
        font-size: 2.5vw;
      }
    }
  }

  > div:nth-child(3) {
    padding: 1vw;
    font-size: 2vw;
    font-style: italic;
  }
}
