<section class="service">
  <div class="service_title_container">
    <h1 class="service_title">Nos Services</h1>
  </div>

  <div class="service_row_flex">
    <div class="service_column30">
      <div class="service_desc_container">
        <h2 class="service_title_container">Echelon</h2>
        <div class="desc_left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, molestiae?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi delectus illo illum ipsa laudantium officia,
          pariatur quod quos, sed sit tempora ullam velit voluptate voluptatibus.
        </div>
      </div>
    </div>
    <div class="service_column60">
      <div class="img_container">
        <img alt="" src="../../../../../assets/images/services_image1.jpg" srcset="">
      </div>
    </div>
  </div>

  <div class="service_divider">
    <div class="service_divider_img_container">
      <img alt="" src="../../../../../assets/images/connecteur_img.png" srcset="">
    </div>
  </div>

  <div class="service_row_flex">
    <div class="service_column60">
      <div class="img_container">
        <img alt="" class="payement_img2" src="../../../../../assets/images/paiementplusieursfois.jpg" srcset="">
      </div>
    </div>

    <div class="service_column30">
      <div class="service_desc_container">
        <h2 class="service_title_container">Echelon</h2>
        <div class="desc_right">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, molestiae?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi delectus illo illum ipsa laudantium officia,
          pariatur quod quos, sed sit tempora ullam velit voluptate voluptatibus.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="menu_con">
  <div class="connexion_container">
    <h2>Se Connecter</h2>
    <div class="connexion_form">
      <h3>Entrez votre numéro de téléphone</h3>
      <div class="connexion_form_input_cont">
        <label for="tel">+228
        </label>
        <input id="connexion_tel" name="tel" placeholder="96 85 89 12" type="tel"/>
      </div>
      <div class="submit_button_cont">
        <button>Connexion</button>
      </div>
    </div>
  </div>

  <div class="inscription_container">
    <h2>S' Inscrire</h2>
    <div class="inscription_form">
      <h3>Entrez votre numéro de téléphone</h3>
      <div class="inscription_form_input_cont">
        <label for="tel">+228
        </label>
        <input id="inscription_tel" name="tel" placeholder="96 85 89 12" type="tel"/>
      </div>
      <div class="submit_button_cont">
        <button>Inscription</button>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="about_container">
    <div class="about_title_cont">
      <h2>A Propos</h2>
      <span class="divider"></span>
    </div>
    <div class="about_desc_cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae dicta numquam laudantium aliquam nam
      cumque? Voluptates, neque corrupti. Natus.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium velit, esse quaerat itaque maxime nobis
      doloremque rem asperiores laborum suscipit.<br/><br/>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium velit, esse quaerat itaque maxime nobis
      doloremque rem asperiores laborum suscipit.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium velit, esse quaerat itaque maxime nobis
      doloremque rem asperiores laborum suscipit.
    </div>
    <div class="about_img_mini-cont">
      <img alt="" src="../../../../../assets/images/tmoney_img.png" srcset="">
      <img alt="" src="../../../../../assets/images/flooz_img.png" srcset="">
      <img alt="" src="../../../../../assets/images/visa_img.png" srcset="">
      <img alt="" src="../../../../../assets/images/btc_img.png" srcset="">
    </div>
  </div>
</section>
