<header>
    <div class="header_container">
      <div class="logo_container">
        <img [src]="logo" alt="" srcset="">
      </div>
      <div class="menu_container">
        <div class="links_container">
          <h2>Bienvenue, {{ user.username }}</h2>
        </div>
      </div>
      <div class="profil_circle_container">
        <span class="profil_circle">
          <a style="text-decoration: none;color: white;" routerLink="profil" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="users_link_cont">Profil</span></a>
        </span>
      </div>
    </div>
  </header>
  <main>
    <div class="aside_left">
    <nav class="navigation_container">
      <a routerLink="profil" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="users_link_cont">Profil</span></a>
      <a routerLink="users"><span class="users_link_cont">Utilisateurs</span></a>
      <a routerLink="products"><span class="users_link_cont">Produits</span></a>
      <a routerLink="echelons"><span class="users_link_cont">Echelons</span></a>
      <a routerLink="plateforms"><span class="users_link_cont">Plateforms</span></a>
    </nav>
    </div>
    <div class="aside_right">

  <router-outlet></router-outlet>
    </div>
  </main>

