.formContainer {
  height: 100vh;
  width: 100%;
  background: #f2bd3d;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    display: inline-block;
    height: 500px;
    width: 325px;
    margin: auto;
    border-radius: 0 25pt 0 25pt;
    background: white;

    > div {
      text-align: center;
    }

    > div:first-child {
      display: flex;
      justify-content: center;
      padding: 1vw 0;
      color: #504135;
      border-bottom: 2px solid rgba(112, 112, 112, 0.5);

      > span:first-child {
        border-right: 3px solid #f2bd3d;
        padding: 1vw 1.2vw;
      }

      > span {
        margin: 0 .5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    > div:nth-child(2) {
      padding: 1.5vw;
      color: #f2bd3d;
      font-size: 1.75vw;
      font-weight: bold;
    }

    > div:nth-child(3) {
      border: 2.5pt solid #f2bd3d;
      font-size: 1.5vw;
      width: 85%;
      margin: 2vw auto;
      padding: 1.25vw 0;
      color: #f2bd3d;

      label {
        border-right: 2pt solid #f2bd3d;
        padding: .5vw 0;
      }

      input {
        border: none;
        margin: 0 1vw;
        padding: .5vw;
      }
    }

    > div:nth-child(4) {
      padding: 1.5vw 0;

      button {
        padding: 1vw 4.5vw;
        border-radius: 35px;
        border: none;
        background: #1662E6;
        color: white;
        font-weight: bold;
        font-size: 1.25vw;
      }
    }
  }
}
