<section class="formContainer">
  <form action="" class="validateTel">
    <div class="form_entete">
      <span class="return_arrow cont">
        <!-- <fa-icon [icon]="arrowLeft" [spin]=false size="lg"></fa-icon> -->
      </span>
      <span class="titleCont">
        <h3>Confirmation Téléphone</h3>
      </span>
    </div>
    <div class="desc_container">Entrez le code envoyé à votre numéro</div>
    <div class="input_container">
      <label class="input_label" for="code">
        Code
      </label>
      <input id="" max="999999" maxlength="6" name="" placeholder="X X X X X X" type="number">
    </div>
    <div class="button_container">
      <button (click)="onSend()">Envoyer</button>
    </div>
  </form>
</section>
